streamlit==1.17.0
folium==0.14.0
streamlit_folium==0.11.0
python-dotenv==0.21.1
deta==1.1.0
pandas==1.5.3
geopy==2.3.0
pyproj==3.4.1
shapely==2.0.1
rasterio==1.2.10
scikit-learn==1.2.1
matplotlib==3.6.3
opencv-python==4.7.0
secrets==1.0.2
streamlit-authenticator==0.2.1